.left{
	padding: 1%;
	color: white;
	margin-top: 2%;
	border: none;
	border-radius: 4px;
	background-color: #084B8A;
	float: left;
	box-shadow: 1px 1px 10px #2D2D2D;
	margin-right: 1%;
}
.right{
	padding: 1%;
	color: white;
	margin-top: 2%;
	border: none;
	border-radius: 4px;
	background-color: #084B8A;
	float: right;
	box-shadow: 0px 1px 10px #2D2D2D;
	margin-left: 1%;
}

body{
	font-family: 'Roboto', sans-serif;
}
.img-container{
	border-radius: 4px;
	box-shadow: 0px 1px 10px #2D2D2D;
}

h2{
	font-family: 'Roboto', sans-serif;

}