.color-blue{
	background-color:#69A3FA;
	color:white;
	border-width:5px;
	border-color:gray;
}

.datos-personales{
	padding-left:5%;
}

.noticias{
	padding:2%;
}

.justified{
	padding:2%;
}

*{
	border-radius:10px;
	border-width:5px;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color:#0a5685;
	padding:10px;

}

#foto{
	border-width:5px;
	border-color:yellow;
	border-style:dotted;
}

tr+tr{
	text-align: justify;
}

h1{
	text-align:center;
}	

[colspan]{
	background-color:#A0CFEC;
}

tr td h1{
	color:#f3fb83;
}

